{% extends 'booking/base.html' %}

{% block title %}
О программе
{% endblock %}

{% block content %}
    <h1>Описание программы</h1>
    <div class="alert alert-warning mt-2">
        <h2>Финальный проект на тему Web-Designer</h2>
        <h3>Описание концепции</h3>
        <p>Вы - back-end разработчик в крупной IT՞компании, вашей команде поручили
        разработку приложения для аренды жилья. Ваш тимлид передал вам задачу создать
        полнофункциональное back-end-приложение для системы аренды жилья.</p>
    </div> 
    <div class="alert alert-warning mt-2">
        <h3>Цель проекта</h3>
        <p>Создать полнофункциональное back-end-приложение для системы аренды жилья,
включающее управление объявлениями, функциональность поиска и фильтрации по
различным параметрам.</p>
    </div>
    <div class="alert alert-warning mt-2">
        <h3>1. Управление объявлениями:</h3>
        <p>● Создание объявления: Пользователь вводит информацию о недвижимости:
заголовок, описание, местоположение, цена, количество комнат, тип жилья
(квартира, дом и т.д.).</p>
        <p>● Редактирование объявления: Пользователь может изменить любую
информацию в существующем объявлении.</p>
        <p>● Удаление объявления: Пользователь может удалить своё объявление из базы
данных.</p>
        <p>● Управление доступностью объявления: Переключение статуса объявления
(активно/неактивно), чтобы временно скрыть или снова сделать видимым
объявление.</p>
    </div> 
    <div class="alert alert-warning mt-2">
        <h3>2. Поиск и фильтрация:</h3>
        <p>● Пользователь вводит ключевые слова, по которым производится поиск в
заголовках и описаниях объявлений.</p>
        <p>● Фильтрация по параметрам: Цена (возможность указать минимальную и
максимальную цену); Местоположение: (возможность указать город или
район в Германии); Количество комнат (возможность указать диапазон
количества комнат); Тип жилья (возможность выбрать тип жилья квартира,
дом, студия и т.д.).</p>
        <p>● Сортировка результатов: Возможность сортировки по цене
(возрастание/убывание), дате добавления (новые/старые)</p>
     </div> 
    <div class="alert alert-warning mt-2">
        <h3>3. Пользовательская аутентификация и авторизация:</h3>
        <p>● Регистрация пользователя: Пользователь вводит свои данные для создания
аккаунта (имя, email, пароль).</p>
        <p>● Вход в систему: Ввод email и пароля для доступа к аккаунту.</p>
        <p>● Разграничение прав доступа: Арендатор: может просматривать и фильтровать
объявления; Арендодатель: может создавать, редактировать и удалять свои
объявления.</p>
     </div> 
    <div class="alert alert-warning mt-2">
        <h3>4. Бронирование:</h3>
        <p>● Создание бронирования: Пользователь может забронировать жилье на
определенные даты.
        <p>● Просмотр бронирований: Пользователь может просматривать свои активные
и завершенные бронирования.</p>
        <p>● Отмена бронирования: Пользователь может отменить бронирование до
определенной даты.</p>
        <p>● Подтверждение бронирования:Арендодатель может подтверждать или
отклонять запросы на бронирование</p></p>
     </div> 
    <div class="alert alert-warning mt-2">
        <h3>5. Рейтинги и отзывы:</h3>
        <p>● Пользователь который снял объявление может оставить отзыв и рейтинг для
конкретного объявления.</p>
        <p>● Просмотр отзывов: Возможность просмотра всех отзывов для конкретного
объявления.</p>
     </div> 
        <div class="alert alert-warning mt-2">
        <h3>* Дополнительный функционал:</h3>
        <p>● Сортировка по популярности (по количеству просмотров или отзывов).</p>
        <p>● История поиска: Сохранение ключевых слов поиска: Запись ключевых слов,
по которым пользователь осуществлял поиск, в отдельную таблицу. Вывод
популярных запросов: Запросы по наиболее частым ключевым словам
выводятся первыми.</p>
        <p>● История просмотров объявлений: Сохранение просмотров: Запись
информации о каждом просмотре конкретного объявления пользователем.
Вывод популярных объявлений: Объявления с наибольшим количеством
просмотров выводятся первыми</p>
     </div> 
{% endblock %}


