{% extends 'booking/base.html' %}

{% block title %}
    Изменение статуса бронирования
{% endblock %}

{% block content %}
    <h2>Изменение статуса бронирования объекта</h2>
    <div class="alert alert-warning mt-2">
        {% if request.user == booking.housing.owner or request.user.is_staff %}
            <p><strong>Объект:</strong> {{ booking.housing.name }}</p>
            <p><strong>Дата бронирования:</strong> {{ booking.date_from }} - {{ booking.date_to }}</p>
            <p><strong>Фамилия бронировавшего</strong>{{ booking.user }}</p>
            <a href="{% url 'change_booking_status' booking.id %}" class="btn btn-warning">Изменить статус</a>
        {% endif %}
    </div>
    <a href="{% url 'my_bookings' %}" class="btn btn-secondary mt-3">Назад к списку бронирований</a>

    <h2>Отзывы о {{ housing.name }}</h2>
    <div class="alert alert-warning mt-2">
    {% if housing.reviews.exists %}
        <ul class="list-group">
            {% for review in housing.reviews.all %}

                    <strong>{{ review.owner.first_name }} {{ review.owner.last_name }}</strong>
                    <p>Рейтинг: {{ review.rating }}</p>
                    <p>{{ review.text }}</p>
                    <p>Оставлен: {{ review.created_at }}</p>

            {% endfor %}
        </ul>
    {% else %}
        <p>Нет отзывов для этого объекта.</p>
    {% endif %}
    </div>


{% endblock %}