{% extends 'booking/base.html' %}

{% block title %}
    Редактирование бронирования
{% endblock %}

{% block content %}
    <h2>Редактирование бронирования объекта: {{ booking.housing.name }}</h2>
    <div class="alert alert-warning mt-2">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
        </form>
    </div>
    <div class="row">
    <a href="{% url 'my_bookings' %}" class="btn btn-secondary mt-3">Назад к списку бронирований</a>
    </div>
{% endblock %}
