{% extends 'booking/base.html' %}
{% load form_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Просмотр вариантов для найма жилой площади</h1>
    <div class="alert alert-warning mt-2">

    <!-- Форма для фильтров -->
    <form method="get">
        <div class="row">
            <!-- Тип объекта -->
            <div class="col-md-4">
                <label for="id_type">Выберите тип объекта:</label>
                {{ filter.form.type|add_class:"form-control" }}
            </div>

            <!-- Нижний предел стоимости за сутки -->
            <div class="col-md-4">
                <label for="id_price_min">Введите мин.цену за сутки:</label>
                {{ filter.form.price_min|add_class:"form-control" }}
            </div>

            <!-- Верхний предел стоимости за сутки -->
            <div class="col-md-4">
                <label for="id_price_max">Введите макс.цену за сутки:</label>
                {{ filter.form.price_max|add_class:"form-control" }}
            </div>

            <!-- Число комнат -->
            <div class="col-md-4">
                <label for="id_rooms">Введите желаемое число комнат:</label>
                {{ filter.form.rooms|add_class:"form-control" }}
            </div>

            <!-- Диапазон цен -->
            <div class="col-md-4">
                <label for="id_price_range">Диапазон цен: мин., макс.</label>
                {{ filter.form.price_range|add_class:"form-control" }}
            </div>

            <!-- Ключевые слова -->
            <div class="col-md-4">
                <label for="id_keyword">Поиск по ключевым словам:</label>
                {{ filter.form.keyword|add_class:"form-control" }}
            </div>
        </div>

            <div class="row">

                <div class="col-md-4">
                    <label for="sort_by">Сортировать по:</label>
                    <select id="sort_by" name="sort_by" class="form-control">
                        <option value="">Выберите</option>
                        <option value="price_asc">Цена (по возрастанию)</option>
                        <option value="price_desc">Цена (по убыванию)</option>
                        <option value="date_newest">Дата добавления (новые)</option>
                        <option value="date_oldest">Дата добавления (старые)</option>
                        <option value="rating_desc">Рейтингу (сначала лучшие)</option>
                        <option value="rating_asc">Рейтингу (сначала худшие)</option>
                        <option value="views_desc">Количеству просмотров по убыванию</option>
                        <option value="review_count_desc">Количеству отзывов по убыванию</option>
                        <option value="rooms_asc">Количество комнат по возрастанию</option>
                        <option value="rooms_desc">Количество комнат по убыванию</option>
                        <option value="country_asc">Названию страны по алфавиту с начала</option>
                        <option value="country_desc">Названию страны по алфавиту с конца</option>
                        <option value="city_asc">Названию города по алфавиту с начала</option>
                        <option value="city_desc">Названию города по алфавиту с конца</option>
                        <option value="post_code_asc">Почтовому индексу по возрастанию</option>
                        <option value="post_code_desc">Почтовому индексу по убыванию</option>
                    </select>
                </div>

                <!-- Проверка сортировки для отладки -->
{#                <p>Вы выбрали сортировку: {{ request.GET.sort_by }}</p>#}
                <button type="submit" class="btn btn-primary mt-3">Применить фильтры</button>
            </div>
        </form>
    </div>

    <!-- Список объектов жилья -->
    {% if housing %}
        {% for el in housing %}
            <div class="alert alert-warning mt-2">
                <p>Номер объекта: {{ el.id }}</p>
                 <h3>{{ el.name }}</h3>
                 <p>{{ el.description }}</p>
                 <p><strong>Адрес:</strong> {{ el.street }} {{ el.house_number }}, {{ el.post_code }}, {{ el.city }}, {{ el.country }}</p>
                 <p><strong>Число комнат:</strong> {{ el.rooms }}</p>
                 <p><strong>Стоимость проживания за сутки:</strong> {{ el.price }},-€</p>
                <p><strong>Средняя оценка:</strong> {{ el.get_average_rating }}</p>

                <!-- Кнопка бронирования -->
                <div class="row">
                    <a href="{% url 'create_booking' el.id %}" class="btn btn-success mt-2">Забронировать</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-2">
            <p>Записей нет</p>
        </div>
    {% endif %}
{% endblock %}
