{% extends 'booking/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>На нашем сайте есть следующие варианты для бронирования:</h2>

    <!-- Список объектов жилья -->
    {% if housing %}
        {% for el in housing %}
            <div class="alert alert-warning mt-2">
                <p>Номер объекта: {{ el.id }}</p>
                 <h3><strong>{{ el.name }}</strong></h3>
                 <p>{{ el.description }}</p>
                 <p><strong>Адрес:</strong> {{ el.street }} {{ el.house_number }}, {{ el.post_code }}, {{ el.city }}, {{ el.country }}</p>
                 <p><strong>Число комнат:</strong> {{ el.rooms }}</p>
                 <p><strong>Стоимость проживания за сутки:</strong> {{ el.price }},-€</p>
                 <p><strong>Средняя оценка:</strong> {{ el.get_average_rating }}</p>
                {% if user == el.owner or user.is_staff %}
                    <div class="row">
                        <a href="{% url 'edit_housing' el.id %}" class="btn btn-warning">Редактировать объект</a>
                    </div>

{#                    <br>#}
{#                    <div class="row">#}
{#                        <button type="submit" class="btn btn-danger">Удалить объект</button>#}
{#                        <div action="{% url 'delete_housing' el.id %}" method="post" style="display:inline;"></div>#}
{#                    </div>#}
                    {#                        {% csrf_token %}#}

                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <div class="alert alert-warning mt-2">
            <p>Записей нет</p>
        </div>
    {% endif %}

{% endblock %}
