{% extends 'booking/base.html' %}

{% block title %}
    Мои бронирования
{% endblock %}

{% block content %}
    <h2>Ваши бронирования</h2>
        {% if bookings %}
            <ul class="list-group">
                {% for booking in bookings %}
                    <div class="alert alert-warning mt-2">
                        <p><strong>Объект:</strong> {{ booking.housing.name }}</p>
                        <p><strong>Дата бронирования:</strong> {{ booking.date_from }} - {{ booking.date_to }}</p>
                        <p><strong>Статус:</strong> {{ booking.get_status_display }}</p>
                        {% if booking.status != 'CANCELED' %}
                            <form method="post" action="{% url 'cancel_booking' booking.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Отменить бронирование</button>

                                <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning">Редактировать бронирование</a>
                            </form>
                            <br>

                            {% if reviews %}
                                {% for review in reviews %}
                                    {% if review.housing == booking.housing %}
                                        <a href="{% url 'edit_review' review.id %}" class="btn btn-warning">Редактировать отзыв</a>

                                    {% endif %}
                                {% empty %}
                                    <a href="{% url 'create_review' booking.housing.id %}" class="btn btn-success">Оставить отзыв</a>
                                {% endfor %}
                            {% endif %}


                        {% else %}
                            <p>Это бронирование отменено</p>
                        {% endif %}

                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning mt-2">
                <p>У вас нет бронирований.</p>
            </div>
        {% endif %}
{% endblock %}
